html, body {
  height: 100%;
}

body {
  background-color: rgb(186, 186, 186);
  font-size: 20px;
}

#white-content-wrapper {
  background-color: rgba(255, 255, 255);
  max-width: 1440px;
  min-height: 100%;
  
}

#filter_heading {
  margin-top: 20px;
  margin-bottom: 24px;
  margin-left: 145px;
}

#Filterbox {
  border-style: double;
  margin-bottom: 0rem;
  background-color: antiquewhite;
  padding: 2rem;
}

#Resultbox {
  padding: 0.8rem 0rem;
}

#resultHeading {
  margin-left: 145px;
}


.table td {
  vertical-align: middle !important;
  font-size: 0.95rem;
}

#col_select {
  margin: 1rem;
  margin-top: -15px;
}

button.col_select {
  background-color: rgb(22 139 212 / 70%);
  border-width: thin;
  border-radius: 0.3rem;
  margin: 0.3rem;
  outline: none;
}

summary {
  outline: none;
}

.pressed {
  background-color: rgb(180, 180, 180) !important;
}

.mark_purpose {
  background-color: rgb(192, 100, 100) !important;
  color: white;
}

.mark_iban {
  background-color: rgb(192, 100, 100) !important;
  color: white;
}


/* Fixed table header when scrolling*/  
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%;}
th, td { padding: 8px 16px; margin: 3px; }
th     { background:#eee;}
tr {text-align: center;}

#header-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1440px;
}

#spacing {
  padding-right: 20px;
  width: 150px;
}

#header {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}

#logo {
  position: relative;
  padding-right: 25px;
  width: 150px;
}

#input_div {
  padding: 10px;
}

#input_div h2 {
  margin-top: 20px;
  margin-bottom: -25px;
}

#input_div label {
  padding-top: 50px;
  padding-bottom: 10px;
  display: block;
}

#input_div #fileSelection {
  font-weight: bold;
}

#shown_columns {
  margin-left: 22px;
}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1440px;
  font-size: 20px;
}

.hidden_info {
  font-size: 18px;
}

.hidden {
  display: none;
}

/* Borders (if you need them)  
.tableFixHead,
.tableFixHead td {
  box-shadow: inset 1px -1px #000;
}
.tableFixHead th {
  box-shadow: inset 1px 1px #000, 0 1px #000;
}
*/
