html, body {
  height: 100%;
}

body {
  background-color: rgb(186, 186, 186);
}

#white-content-wrapper {
  background-color: rgba(255, 255, 255);
  max-width: 1440px;
  min-height: 100%;
  
}

#Filterbox {
  margin-bottom: 2rem;
}

#Resultbox {
  margin-top: 2rem;
}


.table td {
    vertical-align: middle !important;
    font-size: 0.95rem;
}

div.col_select {
  border-style: solid;
  border-width: thin;
  border-radius: 0.4rem;
  margin: .5rem;
  padding: .25rem;
}

label.col_select {
  margin: 0;
}

input.col_select {
  margin-right: 0.4rem;
}

button.col_select {
  background-color: rgb(22 139 212 / 70%);
  border-width: thin;
  border-radius: 0.3rem;
  margin: 0.3rem;
  outline: none;
}

.pressed {
  background-color: rgb(180, 180, 180) !important;
}

/* Fixed table header when scrolling*/  
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%;}
th, td { padding: 8px 16px; margin: 3px; }
th     { background:#eee;}
tr {text-align: center;}

#input_div {
  padding: 10px;
}
#input_div label {display: block;}
#input_div #fileSelection {
  padding: 10px 0px;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Borders (if you need them)  
.tableFixHead,
.tableFixHead td {
  box-shadow: inset 1px -1px #000;
}
.tableFixHead th {
  box-shadow: inset 1px 1px #000, 0 1px #000;
}
*/
